.profile {
    margin: 5em 2em 1em;
}

.profile .basicInformation{
    font-size: 1.2em;
}

.profile .basicInformation .data div:first-child{
    margin-top: 2em;
}

.profile .basicInformation .data div{
    margin-bottom: 1em;
}

.profile .basicInformation .photo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile .basicInformation .photo img{
    width: 15vw;
    height: 30vh;
    object-fit: cover;
}

.profile .basicInformation .data .dataBit{
    margin-top: 1.5vh;
}

.profile .basicInformation .data .dataBit .bitType{
    font-weight: bold;
    margin-bottom: 1vh;
}