.register-container{
    position: relative;
    margin-top: 1em;
}

.register-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register-container input{
    height: 4vh;
    background: var(--grisClaro, #F3F3F3);
    margin: 0 6em 0.5vw;
    text-align: inherit;
}

.no-valid {
    border: 3px solid red;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

.register-container button{
    padding: 1em 5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 1em;
    margin: 0 5em;
    background: #363D4E;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);
}

.register-container button:hover {
    background-color: #262b36;
}

.register-container button.Up{
    margin-top: 3vh;
    color: #FFF;
    text-align: center;
}
    
.loginr{
    color: var(--fuenteClaro, #363D4E);
    margin-top: 25.3vh;
}

.register-container button.In{
    color: #363D4E;

    background: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.10);

    margin-top: 1vh;
}